<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="../asset/css/style.css">

        <title>Connexion</title>
        <link rel="icon" type="image/x-icon" href="../asset/image/letter-p.ico">
    
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
            $("#header").load("../asset/header.html"); 
            $("#footer").load("../asset/footer.html"); });
    </script> 
    </head>
<body>
    <div id="header"></div>

    <h1>NOUS CONTACTER</h1>

    <div class="bg mep">
    <h2><img class="icone" src="../../TP_SASU/asset/image/phone-call.png"> 06.95.13.84.59</h2>
    <h2><img class="icone" src="../../TP_SASU/asset/image/email.png"> sasumaxime92130@gmail.com</h2>
    <h2><img class="icone" src="../../TP_SASU/asset/image/compass.png"> 23 avenue du bas meudon, ISSY LES MOULINEAUX 92130</h2>
    <br>
    <h2>OU BIEN</h2>

    

    <div class="formContact">
        <form method="post">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required><br><br>
    
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required><br><br>
    
            <label for="message">Message :</label><br>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
    
            <input type="submit" value="Envoyer">
        </form>
    </div>

</div>

    

    <div id="footer"></div>
</body>
</html>