#slider {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 13fr 1fr;
}

#precedent,
#suivant {
  display:grid;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  height: 100%;
  align-items: center;
  user-select: none;
}

#precedent {
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

#suivant {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
