html{
  width: 100%;
}

#logo {
  height: 90px;
  width: auto;
  border-radius: 100px;
  margin-top: -10px;
}

#boutonDeNav {
  display: block;
  background-color: #326C36;
  right: 0;
  top: 105px;
  padding: 2px;
  padding-left: 5px;
  width: 150px;
  height: 0px;
  position: absolute;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  transition: all 1s;
}

#nav-link-button-div {
  display: none;
}



.navbar{
  position: fixed;
  transition: top 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  width: 100%;
  background-color: #306B34;
  z-index: 1000;
}

.active {
  background-color: #234d26a9;
  border-radius: 5px;
  color: #181818; 
}

.nav-link-button {
  opacity: 0;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: larger;

  transition: all 0.5s;
}

.nav-link-button:hover {
  color: black;
}

.nav-link:hover{
  color: rgb(92, 92, 92);
}

.nav-link{
  font-size: 20px;
}

.button{
  background-color: #306B34;
  border-radius: 5px;
  border: none;
}

.button:hover{
  background-color: #245227;
}

.button:active{
  background-color: #1c3f1e;
}


.loaded {
  height: 100px !important;
}

.navigationLinks {
  display: contents !important;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: larger;
}


.icone {
  width: auto;
  height: 40px;
}


body {
  padding: 0;
  z-index: 3;
  margin-bottom: 50px;
  margin-top: 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#6e9b269a;
  overflow-x: hidden;
}




h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
  font-size: 70px;
  color: #C08552;
}
h2 {
  margin-top: 50px;
  color: #C08552;
}

h3 {
  margin-top: 50px;
  font-size: 20px;
  color: #C08552;
}

h4{
  color: #C08552;
}

a {
  color:  #C08552;
}

a:hover {
  color:  #C08552;
}

p{
  color: #C08552;
}

ul{
  color: #8a603b;
}

embed{
  border: 2px black solid;
}

iframe{
  border: 1px black solid;
  box-shadow: 2px 1px black ;
}

b{
  color: #865931;
  font-size: 1.5em;
}


/*********************WIDGET*********************/

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 100px;
  column-gap: 20px;
  height: 550px;
}

.widget {
  display: grid;
  grid-template-rows: 50px 250px 200px;
  margin: auto;
  background-color: #306B34;
  height: 340px;
  width: auto;
  max-width: 270px;
  border-radius: 20px;
  transition: all 0.5s;
  padding: 10px;
  overflow: hidden;
}

.widget:hover{
  height: 520px;
}

.widgetTitre {
  text-align: center;
  padding: 10px;
}

.widgetImage {
  margin: auto;
  display: flex;
  vertical-align: middle;
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 290px;
  object-fit: fill;
}

.widgetDescription {
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
}


.bg{
  z-index: 3;
  width: auto;
  height: auto;
  /*margin-top: 100px;*/
  
}

.bg-slider{
  z-index: 2;
  background-color: #A7C27B;
  /*box-shadow: 0px -20px 10px black;*/
  padding-top: 150px;
  --mask:
  radial-gradient(268.33px at 50% 360.00px,#000 99%,#0000 101%) calc(50% - 240px) 0/480px 100%,
  radial-gradient(268.33px at 50% -240px,#0000 99%,#000 101%) 50% 120px/480px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.mep{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.tpage{
  min-height: 100vh; 
  height: auto;
}

.green-bg{
  background-color: #c3f178a9;
}

.white-bg{
  background-color: #FFF;
}

.black-bg{
  background-color: #4b4b4b;
}

.white-txt{
  color: rgb(207, 207, 207);
}

.contact{
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-row-gap: 80px;
  margin-bottom: 150px;
}

.credit{
  position: absolute;
  height: auto;
  width: 100%;
  background-color: #0c0c0c;
  padding: 50px;
}


.slider-1{
position: absolute;
top: -200px;
z-index: -2;
max-width: 100%;
overflow:hidden ;
}

.slider-1 .slider{
  animation: slider-1 12s infinite ease-in-out;
  display: flex;
}

.slider-1 .screenshot{
  flex-shrink: 0;
  padding: 5px 0;
  width: 100%;
  min-height: 100%;
}

.container-slider-2{
  display: grid;
  grid-template-columns: 40px 1fr 40px ;
  overflow: hidden;
}

.slided-right,
.slided-left {
  transition: all 0.5s;
}

.slided-right{
  right: 1500px;
  position: relative;
}

.slided-left{
  left: 1500px;
  position: relative;
}

.slider-2 {
  /*left: 0;
  right: 0;*/
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 700px;
  transition: all 0.5s;
}

.slider-2-item {
  border: 1px black solid;
  width: 100%; /* Les éléments enfants occupent toute la largeur disponible */
  height: auto;
  overflow: hidden; /* Pour cacher le débordement des images si nécessaire */
}

.slider-2-item img {
  width: 100%; /* Les images occupent toute la largeur des éléments parents */
  height: 100%;
  display: block; /* Pour supprimer l'espace sous les images en cas de décalage */
}

.slider-2-description{
  background-color: #181818;
  padding: 5px !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-slider{
  background-color: #181818;
  z-index: 3;
  color: white;
  font-size: 40px;
  overflow: hidden;
  text-align: center;
}


@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} 


@media (max-width : 1550px){
  .bg{
    z-index: 3;
    width: auto;
    height: auto;
    /*margin-top: 500px;*/
  }

  .bg-slider{
    z-index: 2;
    background-color: #A7C27B;
    margin-top: -200px;
    padding-top: 150px;
    --mask:
    radial-gradient(268.33px at 50% 360.00px,#000 99%,#0000 101%) calc(50% - 240px) 0/480px 100%,
    radial-gradient(268.33px at 50% -240px,#0000 99%,#000 101%) 50% 120px/480px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .slider-1{
    position: absolute;
    top: 0;
    z-index: -2;
    max-width: 100%;
    overflow:hidden ;
    }

}

@media (max-width : 850px){
  h1{
    font-size: 40px;
  }

  .Container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 100px;
    column-gap: 20px;
    row-gap: 30px;
    height: 850px;
  }

  .slider-1{
    position: absolute;
    top: 100px;
    z-index: -2;
    max-width: 100%;
    overflow:hidden ;
    }
}

@media (max-width : 645px){
  h2{
    font-size: 20px;
  }

  b{
    font-size: 1.2em;
  }

  .slider-1{
    position: absolute;
    top: 100px;
    z-index: -2;
    max-width: 100%;
    overflow:hidden ;
    display: none;
    }
}

@media (max-width : 500px){
  h2{
    font-size: 15px;
  }
}  

@media (max-width : 350px){
  h2{
    font-size: 12px;
  }
}
